# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
frontend/node_modules/

# Data & models
# Ignore only raw downloaded data; keep processed features & trained models
backend/data/raw/
data/raw/

# (backend/data/processed and models/ will be tracked)

# Build outputs
dist/
build/

# OS junk
.DS_Store
